.format {
    color: red;
    background: grey;
}

@media screen and (max-width:768px) {
    .format {
        color: red;
        background: yellow;
    }
}

@media screen and (max-width:575px) {
    .format {
        color: cyan;
        background: red;
    }
}

.heading{
    padding-top: 40px;
}

body{
    background-color: rgb(75, 177, 245);
   
}
header {
    background-color: rgb(11, 140, 245) !important;
    color: white;
}